In [1]:
pip install kafka-python

Collecting kafka-python
  Obtaining dependency information for kafka-python from https://files.pythonhosted.org/packages/75/68/dcb0db055309f680ab2931a3eeb22d865604b638acf8c914bedf4c1a0c8c/kafka_python-2.0.2-py2.py3-none-any.whl.metadata
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl.metadata (7.8 kB)
Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
   ---------------------------------------- 0.0/246.5 kB ? eta -:--:--
   ------------------ --------------------- 112.6/246.5 kB 3.3 MB/s eta 0:00:01
   ------------------------ --------------- 153.6/246.5 kB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 246.5/246.5 kB 2.5 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
producer = KafkaProducer(bootstrap_servers=['3.134.85.149:9092'],
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [6]:
producer.send('demo_test', value={'firstname':'Ambica'})

In [8]:
df = pd.read_csv("C:/Users/ambic/Downloads/indexProcessed.csv")

In [9]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [11]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
26639,IXIC,1987-09-22,435.0,437.899994,434.899994,437.899994,437.899994,157200000.0,437.899994

In [13]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [ ]:
producer.flush()